ascii-magic==2.3.0
cachetools==5.3.3
colorama==0.4.6
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
oauthlib==3.2.2
pillow==10.3.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygame==2.5.2
PythonTurtle==0.3.2
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
